
<div class="container">
    <h1>Mis Conocimientos</h1>
    <div class="container-cards">
        <div class="card">
            <h2>Idiomas</h2>
            <div class="container-paragraph">
                <strong>Idioma Nativo: </strong> <p>Español</p>
            </div>
        </div>
        <div class="card">
            <h2>Estudios</h2>

            <div class="container-paragraph"> 
                <strong>Primaria:</strong> <p>Completado.</p>
            </div>
            <div class="container-paragraph">
                <strong>Secundaria: </strong> <p>Completado</p>
            </div>
            <div class="container-paragraph">
                <strong>Universidad: </strong> <p>Cursando</p>
            </div>
        </div>
        <div class="card">
            <h2>Certificacion</h2>
                
            <p> Ninguna</p>
        </div>
    </div>

</div>