<div class="container-image">
    <h3>fall out boy - Pavlove</h3>
    <div class="circle">
        <div class="middle">
            <div class="center">

            </div>
        </div>
    </div>
</div>

<div class="container-text"> 
    <h2>¿Quien soy?</h2>
    <p>
        Hola, soy Julian, tengo 21 años, Vivo en Venezuela estado Lara, actualmente cursando la carrera de informatica. Me apasiona bastante el desarrollo web, el diseño y la tecnologia en general. Mis pasatiempos son ver anime y estudiar Musica.
    </p>
</div>

