<div class="container">
    <h1>Informacion de Contacto</h1>
    
    <div class="container-paragraph">
        <h2>Localidad</h2>

        <div class="container-text">
            <strong>Pais: </strong><p id="pais">Venezuela</p>
        </div>
        <div class="container-text">
            <strong>Estado: </strong><p>Lara</p>
        </div>
        <div class="container-text">
            <strong>Ciudad: </strong><p>Barquisimeto</p>
        </div>
       
    </div>

    <div class="container-paragraph">
        <h2>¿  Como comunicarse conmigo ?</h2>
        <div class="container-text">
            <strong>Numero de telefono: </strong><p id="whatsapp">+58 412-5659767</p>
        </div>
        <div class="container-text">
            <strong>Correo: </strong><p> {{correo}} </p>
        </div>
        <div class="container-text">
            <strong>Telegram: </strong><p id="telegram"> +58 412-5659767</p>
        </div>
        <div class="container-text">
            <strong>Git-hub: </strong><p>JulianPro1</p>
        </div>        
    </div>
</div>
