<div class="container">
    <h2>Tecnologias que Manejo</h2>
    <div class="container-datatable">
      
      <table>
        <thead>
          <th>Tecnologias</th>
          <th>Referencia visual</th>
          <th>Dominio</th>
        </thead>
          <tr id="html">
            <td>HTML</td>
            <td><img src="assets/html.svg" alt="HTML"></td>
            <td> 7/10</td>
          </tr>
          <tr id="css">
            <td >CSS</td>
            <td><img src="assets/css.svg" alt="CSS"></td>
            <td> 7/10</td>
          </tr>
          <tr id="javascript">
            <td >Javascript</td>
            <td><img src="assets/Javascript.svg" alt="Javascript"></td>
            <td> 7/10</td>
          </tr>
          <tr id="angular">
            <td id="angular">Angular</td>
            <td><img src="assets/Angular.svg" alt="Angular"></td>
            <td> 5/10</td>
          </tr>
          <tr id="tailwind">
            <td >Tailwind</td>
            <td><img src="assets/tailwind.svg" alt="tailwind"></td>
            <td> 5/10</td>
          </tr>
        </table>
    </div>
</div>

<div class="container-work">
    <h2>Tecnologías de gestión de trabajo</h2>

    <div class="container-cards">
        <div class="card">
            <img src="/assets/Trello-logo.svg" alt="Trello">
            <h3>Trello</h3>
        </div>
        <div class="card">
            <img src="/assets/Git-logo.svg" alt="Git">
            <h3>Git</h3>
        </div>
    </div>
</div>