:host{ width: 100%; }

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
    padding: 1rem 0;

    & li{
        width: 90%;
        text-align: center;
        list-style: none;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        border-radius: 20px;
        padding: .5rem 0;
        transition: all .5s;
    }

    & li:hover{
        background-color: purple;
        transform: scale(1.10);
    }

    & a{
        cursor: pointer;
        color: white;
        outline: none;
        text-decoration: none;
    }

    & a:hover{
        color: gold;
    }
}